.contained {
    border: 1px solid black;
    width: 60%;
    margin: 0 auto;
    padding: 1.5em;

    ul {
        list-style: none;
    }

    button {
        padding: 0.5em 1.5em;
        border: none;
        
        a {
            text-decoration: none;
            text-transform: uppercase;
        }
    }
}